.contenedor{
  font-size: 32px;
}

.pixeles{
  font-size: 32px; /*16 piceles es el valor por defecto */
}

.porcentaje{
  font-size: 200%; /*100% el valor del contenedor*/
}

.em{
  font-size: 1em; /*1em valor del contenedor*/
}

.rem{
  font-size: 1rem; /*1rem valor del root*/
}

.botonIzq{
  width: 50px;
}